.overlay{
    position:fixed;
    inset:0;

    background:black;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.header{
    position:absolute;

    top:24px;
    left:16px;

    display:flex;
    align-items:center;
    gap:12px;

    z-index:10;

    color:white;
}

.image{
    object-fit:contain;
}