.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 64px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: var(--surface);
  border-top: 1px solid var(--border);

  box-shadow: var(--shadow-md);

  z-index: 1000;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  color: var(--text-secondary);
  font-size: 12px;

  width: 25%;
}

.icon {
  font-size: 26px !important;
  margin-bottom: 2px;
  color: var(--text);
  transition: 0.15s ease;
}
.item:active .icon {
  transform: scale(0.9);
}
.avatar {
  width: 28px !important;
  height: 28px !important;
}



.avatarActive {
  outline: 2px solid black;
}
